extends layout

block content
  h1= walkin.title
  h2= walkin.organization
  span Salary <strong>"#{salary.minimum}" -  "#{salary.maximum}" "#{salary.unit}"</strong>
  span Time <strong>"#{time.from}" -  "#{time.to}" on "#{time.date}"</strong>

